---
---
@charset "utf-8";

/* path to glyphicons */
$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600');

// ------------------------------------------------------------------------------
//                                    Colors
// ------------------------------------------------------------------------------

$text1: #FFFFFF;
$text2: #c8ceff;
$bg1: #3a0ca3;
$bg2: #560bad;

$gradient1: #F72585;
$gradient2: #B5179E;
$gradient3: #7209B7;
$gradient4: #560BAD;
$gradient5: #480CA8;
$gradient6: #3A0CA3;
$gradient7: #3F37C9;
$gradient8: #4361EE;
$gradient9: #3894FF;
$gradient10: #4895EF;
$gradient11: #4CC9F0;

$twitch: #ff9df2;
$discord: #a79dff;

// ------------------------------------------------------------------------------
//                                    General
// ------------------------------------------------------------------------------

h1, h2, p, a {
    margin: 0;
    font-family: Poppins;
    color: $text1;
}

h1 {
    padding-bottom: 3vh;
    padding-top: 3vh;
}

p {
    font-size: 1.3rem;
}

body {
    margin: 0 !important;
}

section {
    padding: 10vh 20vw 20vh 20vw;
}

.btn {
    background-color: #fff;
    color: $gradient7;
    border-radius: 2vw;
    padding: 5vw;
  }

.btn:hover {
    color: $gradient1;
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 1rem;
    }

    section {
        padding: 5vh;
    }
}

// ------------------------------------------------------------------------------
//                                   Main.html
// ------------------------------------------------------------------------------

#particles-js {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#main {
    background: linear-gradient(#cc00aeff, #3894ffff);
    width: 100vw;
    height: 100vh;
    position: relative;

    // Navbar
    .navbar {
        z-index: 2;
    }

    // Image placement
    img {
        position: absolute;
        width: 100vw;
        z-index: 1;
    }

    .hill1 {
        top: 30vh;
    }

    .hill2 {
        top: 50vh;
    }

    .hill3 {
        top: 70vh;
    }
    
    h1 {
        padding-bottom: 0;
    }

    @media only screen and (max-width: 600px) {
        .hill1 {
            top: 60vh;
        }
    
        .hill2 {
            top: 70vh;
        }
    
        .hill3 {
            top: 80vh;
        }
    }

    button {
        border-radius: 1rem;
        padding: 0.5rem 1rem;
    }
}

.main-content {
    position: absolute;
    top: 8vh;
    z-index: 2;
    width: 100%;
    height: 100%;
}

#navbar {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
      
    li {
      float: left;
    }
      
    li a {
      font-size: 1.2rem;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
      
    /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: #111;
    }

    @media only screen and (max-width: 600px) {
        display: none;
    }
}

// ------------------------------------------------------------------------------
//                                 Slideshow.html
// ------------------------------------------------------------------------------

// ------------------------------------------------------------------------------
//                                  AboutUs.html
// ------------------------------------------------------------------------------

#about-us {
    background: $bg1;
    position: relative;
    margin-top: 0;
    z-index: 2;

    img {
        position: absolute;
        width: 100vw;
        z-index: 1;
    }
}

.aboutus-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

// ------------------------------------------------------------------------------
//                                 GameJams.html
// ------------------------------------------------------------------------------

#gamejams {
    background: $bg1;
    position: relative;
    z-index: 2;

    img {
        position: absolute;
        width: 100vw;
        z-index: 1;
    }

    .gamejam-card {
        display: inline-block;
        border-style: solid;
        border-radius: 1rem;
        border-color: $text1;
        padding: 1.5rem;
    }

    @media only screen and (max-width: 600px) {

        .gamejam-card {
            display: block;
            padding: 1.5rem 0;
            max-width: 100vw;
        }

        a {
            display: block;
            font-size: 1rem;
            padding: 0.5rem;
        }
    }
}

// ------------------------------------------------------------------------------
//                                 Calendar.html
// ------------------------------------------------------------------------------

#calendar {
    background: $bg1;
    position: relative;
    z-index: 2;

    img {
        position: absolute;
        width: 100vw;
        z-index: 1;
    }
}

.aboutus-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

// ------------------------------------------------------------------------------
//                                 Resources.html
// ------------------------------------------------------------------------------

#resources {
    background: $bg1;
    position: relative;
    z-index: 2;

    img {
        position: absolute;
        width: 100vw;
        z-index: 1;
    }

    a {
        font-size: 1.2rem;
    }
}

.aboutus-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

// ------------------------------------------------------------------------------
//                                  Footer.html
// ------------------------------------------------------------------------------

#footer {
    background: $bg2;
    height: 10vh;
    position: relative;
    z-index: 2;
    
    img {
        width: 3rem;
        padding: 0 0.5rem;
    }

    img:hover {
        filter: brightness(85%);
        transition: 0.2s
    }

    a {
        color: $text1;
        font-size: 2rem;
    }

    a:hover {
        filter: brightness(85%);
        transition: 0.2s;
    }

    .footer-content {
        background: $bg2;
        position: absolute;
        width: 100%;
        height: auto;
        top: 30%;
    }

    @media only screen and (max-width: 600px) {
        .footer-content {
            padding-bottom: 3vh;
        }
    }
}

// ------------------------------------------------------------------------------
//                                    Imports
// ------------------------------------------------------------------------------