---
---
@charset "utf-8";

/* path to glyphicons */
$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600');

// ------------------------------------------------------------------------------
//                                    Colors
// ------------------------------------------------------------------------------

$text1: #FFFFFF;
$text2: #c8ceff;
$bg1: #3a0ca3;
$bg2: #560bad;

$gradient1: #F72585;
$gradient2: #B5179E;
$gradient3: #7209B7;
$gradient4: #560BAD;
$gradient5: #480CA8;
$gradient6: #3A0CA3;
$gradient7: #3F37C9;
$gradient8: #4361EE;
$gradient9: #3894FF;
$gradient10: #4895EF;
$gradient11: #4CC9F0;

$twitch: #ff9df2;
$discord: #a79dff;

// ------------------------------------------------------------------------------
//                                    General
// ------------------------------------------------------------------------------

h1, h2, p, a {
    margin: 0;
    font-family: Poppins;
    color: $text1;
}

body {
    margin: 0 !important;
}

// ------------------------------------------------------------------------------
//                                   Main.html
// ------------------------------------------------------------------------------

#particles-js {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#main {
    background: linear-gradient(#cc00aeff, #3894ffff);
    width: 100vw;
    height: 100vh;
    position: relative;

    img {
        position: absolute;
        width: 100vw;
        z-index: 1;
    }

    .hill1 {
        top: 30vh;
    }

    .hill2 {
        top: 50vh;
    }

    .hill3 {
        top: 70vh;
    }
}

.main-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

// ------------------------------------------------------------------------------
//                                 Slideshow.html
// ------------------------------------------------------------------------------

// ------------------------------------------------------------------------------
//                                  AboutUs.html
// ------------------------------------------------------------------------------

// ------------------------------------------------------------------------------
//                                 GameJams.html
// ------------------------------------------------------------------------------

// ------------------------------------------------------------------------------
//                                 Calendar.html
// ------------------------------------------------------------------------------

// ------------------------------------------------------------------------------
//                                 Resources.html
// ------------------------------------------------------------------------------

// ------------------------------------------------------------------------------
//                                  Footer.html
// ------------------------------------------------------------------------------

// ------------------------------------------------------------------------------
//                                    Imports
// ------------------------------------------------------------------------------

/* Bootstrap classes will be overridden by the styling below */
@import "material-ui";