<section id="calendar">
    <a id="calendar-anchor"></a>
    <div class="text-center container-fluid">
        <h1 class="text-white">Calendar</h1>
        <p class="text-white">Keep an eye out on this calender to stay up to date on Game Jams and Club Events.</p>
        <!-- Looking into how I can pass the time.ly calendar around.-->
        <script src="https://events.timely.fun/embed.js" data-src="https://events.timely.fun/ynna0c1c/" data-max-height="0"  id="timely_script" class="timely-script"></script>
    </div>
</section>