<footer id="footer">
    <div class="text-center container-fluid footer-content">
        <a class="smallbutton1" href="mailto:{{site.email}}"><i class="fa fa-fw fa-envelope"></i></a>
        <a class="smallbutton1" href="{{site.discord_url}}"><img src="./img/discord-brands.png"></a>
        <a class="smallbutton1" href="{{site.itch-io_url}}"><img src="./img/itch-io-brands.png"></a>
        <a class="smallbutton1" href="{{site.facebook_url}}" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
        <a class="smallbutton1" href="{{site.twitter_url}}" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
        <a class="smallbutton1" href="{{site.instagram_url}}" target="_blank"><i class="fa fa-fw fa-instagram"></i></a>
    </div>
</footer>