<section id="gamejams">
    <a id="gamejams-anchor"></a>

    <div class="text-center container-fluid gamejams-content">
        <h1 class="text-white">Upcoming Game Jams</h1>
        <h3 class="text-white"><i>Check back here soon for new Game Jams!</i></h3>

        <h1 class="text-white">Past Game Jams</h1>
        <div class="gamejam-card">
            <h2 class="text-white">SpookJam</h2>
            <p class="text-white">A freaky game development adventure!</p>
            <!-- Place Image here -->
            <a href="https://itch.io/jam/smu-gdc-spookjam/results" class="btn btn-lg">View Results</a>
        </div>
        <div class="gamejam-card">
            <h2 class="text-white">GDC Test Jam</h2>
            <p class="text-white">Our first ever game jam</p>
            <!-- Place Image here -->
            <a href="https://itch.io/jam/gdc-testjam/results" class="btn btn-lg">View Results</a>
        </div>
    </div>
</section>