<section id="gamejams">
    <div class="text-center container-fluid">
        <h1 class="text-white">Upcoming Game Jams</h1>
        <div class="gamejam-card">
            <h2 class="text-white">Upcoming Game Jam</h2>
            <p class="text-white">A brand new Game Jam Adventure</p>
            <p>Nov 11 - 25, 2021</p>
            <!-- Place Image here -->
            <button type="button" class="btn btn-lg">
                <a href="#">
                    Register on itch.io
                </a>
            </button>
        </div>

        <h1 class="text-white">Past Game Jams</h1>
        <div class="gamejam-card">
            <h2 class="text-white">GDC Test Jam</h2>
            <p class="text-white">Our first ever game jam</p>
            <!-- Place Image here -->
            <button type="button" class="btn btn-lg">
                <a href="https://itch.io/jam/gdc-testjam/results">
                    View Results
                </a>
            </button>
        </div>
    </div>
</section>