<section id="gamejams">
    <a id="gamejams-anchor"></a>

    <div class="text-center container-fluid gamejams-content">
        <h1 class="text-white">Upcoming Game Jams</h1>
        <!--<h2 class="text-white">Check back here soon for new Game Jams!</h2>-->
        <div class="gamejam-card">
            <h2 class="text-white">Upcoming Game Jam</h2>
            <p class="text-white">A brand new Game Jam Adventure</p>
            <p>Oct 15 - 30, 2021</p>-->
            <!-- Place Image here -->
            <a href="https://itch.io/jam/smu-gdc-spookjam" class="btn btn-lg">Register</a>
        </div>

        <h1 class="text-white">Past Game Jams</h1>
        <div class="gamejam-card">
            <h2 class="text-white">GDC Test Jam</h2>
            <p class="text-white">Our first ever game jam</p>
            <!-- Place Image here -->
            <a href="https://itch.io/jam/gdc-testjam/results" class="btn btn-lg">View Results</a>
        </div>
    </div>
</section>