<header id="main">

    <div id="particles-js"></div>
    <nav class="navbar navbar-expand-lg container-fluid">
        <ul id="navbar">
            <li class="nav-item"><a href="#about-us-anchor">About Us</a></li>
            <li class="nav-item"><a href="#gamejams-anchor">Game Jams</a></li>
            <li class="nav-item"><a href="#calendar-anchor">Calendar</a></li>
            <li class="nav-item"><a href="#resources-anchor">Resources</a></li>
        </ul>
    </nav>

    <div class="container-fluid text-center main-content">
        <h1 class="text-white">SMU GDC</h1>
        <p>We are SMU's flagship organization for Game Design and Development.</p>
        <a href="#" class="btn btn-lg disabled" id="registrationBtn">Join Newsletter (Coming Soon)</a>
    </div>
    
    <img class="hill1" src="./img/hill.png">
    <img class="hill2" src="./img/hill.png">
    <img class="hill3" src="./img/hill.png">
</header>