<section id="main">

    <div id="particles-js"></div>
    <nav>
        <ul id="navbar" class="menu-area">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Game Jams</a></li>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">Resources</a></li>
        </ul>
    </nav>
    <div class="container-fluid text-center main-content">
        <h1>SMU GDC</h1>
        <p>We are SMU's flagship organization for Game Design and Development.</p>
        <a href="#" class="btn btn-lg" id="registrationBtn">Join Newsletter</a>

    </div>
    <img class="hill1" src="./img/hill.png">
    <img class="hill2" src="./img/hill.png">
    <img class="hill3" src="./img/hill.png">
</section>