<header id="main">

    <div id="particles-js"></div>
    <nav class="navbar navbar-expand-lg container-fluid">
        <ul id="navbar">
            <li class="nav-item"><a href="#">About Us</a></li>
            <li class="nav-item"><a href="#">Game Jams</a></li>
            <li class="nav-item"><a href="#">Calendar</a></li>
            <li class="nav-item"><a href="#">Resources</a></li>
        </ul>
    </nav>

    <div class="container-fluid text-center main-content">
        <h1 class="text-white">SMU GDC</h1>
        <p>We are SMU's flagship organization for Game Design and Development.</p>
        <button type="button" class="btn btn-lg" id="registrationBtn">
            <a href="#">
                Join Newsletter
            </a>
        </button>
                  <!--<a href="{{site.register_url}}" class="btn btn-lg" id="registrationBtn">Apply for HackSMU Here!</a>-->
    </div>
    
    <img class="hill1" src="./img/hill.png">
    <img class="hill2" src="./img/hill.png">
    <img class="hill3" src="./img/hill.png">
</header>