<section id="resources">
    <a id="resources-anchor"></a>

    <div class="text-center container-fluid">
        <h1 class="text-white">Resources</h1>
        <p class="text-white">From designing to programming to art, we have the resources necessary for aspiring developers to carry out their visions. Check out these resources we have compiled below to get started on your Game Development journey.</p>
        <ul class="resources-list">
            <li class="text-white"><a class="text-white" href="#">Unity Road Map (Coming Soon)</a></li>
        </ul>
    </div>
</section>